body{
    text-align: center;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #DDD;
}
div{
    
    
    text-align: center;
    font-style: oblique;
    border: 1px solid #DDD;
    margin: 20px;
    
    

}